@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --bg-color: #272B30;
    font-size: 10px;
}

body {
    background-color: var(--bg-color);
    color: #FFF;
    font-family: 'Poppins', san-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.pontos {
    font-size: 2.5rem;
}

h1 {
    font-size: 3.2rem;
}

.hide {
    display: none;
}

input[type='text'],
input[type='number'],
select {
    background-color: var(--bg-color);
    border: 0;
    padding: .5rem 1rem;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #FFF;
    margin: 1.6rem;
}

.botao {
    background: #AC62FF;
    box-shadow: 0px 0px 10px rgba(172, 98, 255, 0.25);
    border-radius: 5px;
    color: var(--bg-color);
    border: 0;
    padding: .5rem 2rem;
    cursor: pointer;
}

.botao:disabled {
    box-shadow: none;
    background-color: #555;
}


.card {
    background: linear-gradient(89.68deg, #2E3237 -1.9%, #1A1C1F 99.74%);
    border: 1px solid #333333;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 222px;
    height: 144px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem;
    animation: slidein 1s ease-in-out;
}

#tarefas {
    display: flex;
    flex-wrap: wrap;
}